@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Home */
.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

.homeTitle {
  text-align: center;
  font-weight: bold;
  font-size: 150px;
  background-image: url('https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/search_result/public/media/images/Oceanwaves.gif?itok=FKjfzznN');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.homeSubtitle {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background-image: url('https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/search_result/public/media/images/Oceanwaves.gif?itok=FKjfzznN');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.homeAboutContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.homeAboutText {
  width: 60%;
  text-align: center;
  color:#3790bd;
  font-size: 30px;
}

nav{
  transition: .3s;
  background-color: #ffffff;
}

nav.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 254, 254, 0.587);
}

.nav{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.587);
  border-bottom: solid #6bb4d9aa;
  border-bottom-width: 1px;
  box-shadow: inset 0 -10px 10px -10px #2E8B57;
}
.navItem{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
  color:#2E8B57;
  font-weight:400;
  font-size: x-large;
}

.navItem::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3790bd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #ebebeb;  
}

.footerContent{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
    background-color: #ebebeb;
}

.iconDiv{
  margin-right: 60px;
  text-align: center;
  color:#39b41ab5;
  font-weight: 300;
}

.endIcon{
  text-align: center;
  color: #39b41ab5;    font-weight: 300;
}

.projectsContainer{
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projectCard{
  font-size: x-large;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #2E8B57;
}

.divider{
  margin-top: 1rem;
  width: 25%;
  text-align: center;
  border-color: #6bb4d9;
  border-width: 1;
  box-shadow: 0px 0px 3px 1px #2E8B57;
}

img {
border-radius: 38px;
  background: #ffffff;
  box-shadow: 12px 12px 13px #5e5e5e,
    -12px -12px 13px #ffffff;
  transition: all .5s ease-in-out;
}

img:hover {
transform: scale(1.05);
}

/* About */


.aboutContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

.aboutTitle{
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background-image: url('https://t4.ftcdn.net/jpg/03/00/85/23/360_F_300852364_qSrtNxY6pokaVR7er7knpb8AyYJSxtUd.jpg');
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;

}
 
.aboutCard{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
}

.description{
  display: flex;
 flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40%;
  color:#3790bd;
}

.descriptiionCard{
  display: flex;
    align-items: center;
    flex-direction: column;
}

